
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#main-header{

  background-color: #f29441;
  height: 100vh;
  width: 100%;

  display: grid;

}

.header{
  color: #ffff;
  text-align: center;
  padding-top: 20%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;

}

.sub-header{
  color: #ffff;
padding-top: 2rem;
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: 400;

}
 
.arrow{
  height: 4rem;

margin-left: 42%;
}

.header-text {
row-gap: 2rem;
}

.create-habit {
  color: #f29441;
  padding: 1rem;
  background-color: #ffff;
  border:solid;
  border-color: #f29441;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.habit-button {
  display: flex;
  justify-content: center;
}

.create-habit:hover {
  color: #ffff;
  background-color: #f29441;
}

.choose-habit {
width: 90vw;
height: 40vw ;
display:grid ;
border: solid;
border-color: #f29441;
/* border-radius: 1.2rem; */
margin-top: 2rem;
}

.choose-header{
text-align: center;
padding-top: 2rem;
justify-items: center;
}

.choose-container {
display: inline-grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows:1fr 1fr 1fr 1fr  ;
column-gap: 1em;
width: 100%;
margin-top: 5rem;
}

.choose-1 {
grid-column-start: 1;
grid-column-end: 2;
border-right: solid;
border-color: #f29441;
}

.choose-2 {
grid-column-start: 2;
grid-column-end: 3;
border-right: solid;
border-color: #f29441;
}
.choose-3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.custom-habit {
  grid-column-start: 2;
  margin-top: 4rem;
  text-align:center;
}

.choose-li {
list-style-type: none; 
}

.choose-1 , .choose-2 , .choose-3 {
  text-transform: uppercase;
  padding-left: 6rem;
  font-size: 1.1em ;
  font-weight: 300;
} 

.choose-h4 {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
}

.choose-h2 {
  font-size: 1.2em ;
  font-weight: 300;
  text-transform: uppercase;
}

.choose-input {
  padding: 0.3rem;
  border:solid;
  border-color: #f29441;
  border-radius:0.3rem ;
}
