* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Ephraims del */

#main-header {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  display: grid;
}

.header {
  color: #ffff;
  text-align: center;
  padding-top: 15%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.sub-header {
  color: #ffff;
  padding-top: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.arrow {
  height: 4rem;
  margin-left: 47%;
  animation-name: arrow-float;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes arrow-float {
  from {
    transform: translate(0, 0px);
  }
  60% {
    transform: translate(0, 30px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.header-text {
  row-gap: 2rem;
}

.create-habit-button {
  font-size: 2rem;
  /* color: #f29441; */
  padding: 1.5rem 2.5rem;
  margin-top: 6rem;
  background-color: #ffff;
  border: solid;
  border-color: #f29441;
  border-radius: 1rem;
  text-transform: uppercase;
}

.button-div {
  display: flex;
  justify-content: center;
}

.create-habit-button:hover {
  color: #ffff;
  background-color: #f29441;
}

hr {
  border: 1px solid #f29441;
  width: 30vw;
  margin-left: 30vw;
}
/* Ephraims del slut */
